/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/space-mono-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* space-mono-700 - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/space-mono-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/space-mono-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

%btn {
    padding-top: 14px;
    padding-bottom: 14px;
    background: var(--main-yellow);
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


:root {
    --main-yellow: #FCB72B;
    --dark: #495567;
    --grey: #939CAA;
    --light-grey: #E5ECF4;
    --snow: #F2F5F9;
    --light-yellow: #FFF4DF;
}

body {
    font-family: "Space Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
}





.header {
    position: fixed;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;

}

.header__item {
    margin-left: 35px;
}

.header__logo {
    margin-right: 50px;
}

.header__btn {
    width: 180px;
    @extend %btn
}

.header__btn:hover {
    background-color: white;
    color: var(--main-yellow);
    border: 1px solid;
    border-color: var(--main-yellow);
}

.header__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--grey);
}


.mini__section {
    margin-top: 40px;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url("../images/about__back1.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mini__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}



.second__section {
    margin-top: 50px;
    background-image: url("../images/about__111.png"), url("../images/about__222.png");
    background-position: right top, left bottom;
    background-repeat: no-repeat;

}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second__title,
.third__title {
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--dark);
}

.second__param,
.third__param {
    width: 445px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--grey);
}

.second__photo {
    border-radius: 50%;
}


.third {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.our__title {
    margin-top: 100px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: var(--dark);
}

.our__list {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our__mini_title {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: var(--dark);

}

.our__param {
    width: 350px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--grey);

}

.our__item {
    text-align: center;
}

.our__img {
    margin-bottom: 30px;
    ;
}





.drops__title {
    margin-top: 120px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: var(--dark);

}

.drops__flex {
    margin-top: 60px;
    display: flex;
    // align-items: center;
    justify-content: space-between;
}

.drops__inner_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: var(--dark);

}

.drops__wrapper {
    width: 730px;
    background: #F2F5F9;

}

.drops__wrapper+.drops__wrapper {
    margin-top: 20px;
}

.drops__top {
    padding: 30px 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drops__mini_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--dark);
}

.drops__img,
.drops__img2,
.drops__img3,
.drops__img4,
.drops__img5,
.drops__img6 {
    transition: transform 0.3s;
}



.drops__param {
    padding: 0 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--dark);

}

.drops__text,
.drops__text2,
.drops__text3,
.drops__text4,
.drops__text5,
.drops__text6 {
    opacity: 0;
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
    // padding: 0 32px 40px;
}



.show-text,
.show-text2,
.show-text3,
.show-text4,
.show-text5,
.show-text6 {
    height: 105px;
    overflow: visible;
    opacity: 1;
    padding-bottom: 32px;
}

.turn,
.turn2,
.turn3,
.turn4,
.turn5,
.turn6 {
    transform: rotate(180deg);
}

.drops__top2 {
    margin-top: 20px;
}


.drops__top2,
.drops__top3,
.drops__top4,
.drops__top5,
.drops__top6 {
    padding: 30px 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}








.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__param {
    width: 415px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;

}

.footer__top {
    margin-top: 150px;
    background-color: var(--dark);
    padding-top: 102px;
    padding-bottom: 102px;
    background-image: url("../images/footer__back.png");
    background-position: right bottom;
    background-repeat: no-repeat;

}

.footer__networks,
.footer__list {
    display: flex;
    align-items: center;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {
    padding-top: 35px;
    padding-bottom: 30px;
    background: #333A44;
}

.footer__item+.footer__item {
    margin-left: 32px;
}

.footer__item_logo {
    margin-right: 50px;
}

.footer__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: var(--grey);
}

.footer__site+.footer__site {
    margin-left: 25px;
}




@media only screen and (max-width:1000px) {
    .header {
        justify-content: space-around;
    }

    .mini__section {
        width: 100%;
    }
}

@media only screen and (max-width:1200px) {
    .third {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;
    }

    .second {
        flex-direction: column-reverse;
        gap: 40px;
        text-align: center;
    }

    .third__photo {
        width: 550px;
        height: 400px;
    }

    .our__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .footer__bottom {
        justify-content: space-around;
    }



}


@media only screen and (max-width:600px) {}



@media only screen and (max-width:700px) {
    .header__item {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .footer__list {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 20px;
    }
    .footer__item_logo{
        margin: 0 auto;
    }
    .footer__item{
        margin: 0 auto;
    }
}